{% extends 'base.html.twig' %}

{% block title %}Usuários{% endblock %} 

{% block header %}
    <h1 class="page-header">
        Usuários <small>Listagem de usuários do sistema</small>
    </h1>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ include('template/base-search.html.twig') }}
            <div class="col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Usuários</h3>
                        <button type="button" id="status" class="btn btn-warning btn-xs" style="float:right; margin-top: -20px">Ativo/Inativo</button>
                        <a href="{{ path('user_new') }}" class="btn btn-info btn-xs" style="float:right; margin-top: -20px">
                            Criar usuário
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="alert" id="message-user">
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'u.id')}}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'u.name')}}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'u.email')}}</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                    <th>
                                        <button type="button" id="check-users" class="btn btn-info btn-xs">Marcar/Desmarcar</button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in pagination  %}
                                    <tr>
                                        <td><a href="">{{ user.id }}</a></td>
                                        <td><a href="">{{ user.name }}</a></td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {% if user.active == 'Y' %}
                                                <b style="color: green;">Ativo</b>
                                            {% else %}
                                                <b style="color: green;">Inativo</b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('user_edit', {id:user.id}) }}" class="btn btn-primary btn-xs" title="">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td><label class="checkbox-inline"><input type="checkbox" class="checkbox-user" name="user" value="{{ user.id }}">&nbsp;</label></td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="6" style="text-align: center">
                                        <div class="navigation">
                                            {{knp_pagination_render(pagination)}}
                                        </div>
                                    </td>
                                </tr> 
                            </tbody>
                        </table><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        $(function () {
            $('#message-user').hide();

            $('#check-users').click(function () {
                $("input[type=checkbox][name='user']").each(function () {
                    if ($('.checkbox-user').prop("checked")) {
                        $(this).prop('checked', false);
                    } else {
                        $(this).prop('checked', true);
                    }
                });
            });

            $('#status').click(function () {
                users = new Array();
                $("input[type=checkbox][name='user']:checked").each(function () {
                    users.push($(this).val());
                });
                if (users.length === 0) {
                    $('#message-user').show().fadeOut(3000).addClass('alert-danger').html('<strong>Erro!</strong> Selecione pelo menos um usuário.');
                } else {
                    $.ajax({
                        type: "POST",
                        url: '{{ path('user_update_status')}}',
                        data: {'users': users},
                        dataType: 'json',
                        success: function (data) {
                        }
                    });
                }
            });


        });
    </script>
{% endblock %}