{% extends 'base.html.twig' %}

{% block header %}
    <h1 class="page-header">
        Usuários <small>Listagem de usuários do sistema</small>
    </h1>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ include('template/base-search.html.twig') }}
            <div class="col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Usuários</h3>
                        <a href="" class="btn btn-warning btn-xs" style="float:right; margin-top: -20px">
                            Ativo/Inativo
                        </a>
                        <a href="{{ path('user_new') }}" class="btn btn-info btn-xs" style="float:right; margin-top: -20px">
                            Criar usuário
                        </a>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'u.id')}}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'u.name')}}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'u.email')}}</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in pagination  %}
                                    <tr>
                                        <td><label class="checkbox-inline"><input type="checkbox" value="">&nbsp;</label></td>
                                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.name }}</a></td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {% if user.active == 'Y' %}
                                                <b style="color: green;">Ativo</b>
                                            {% else %}
                                                <b style="color: green;">Inativo</b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary btn-xs" title="">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="6" style="text-align: center">
                                        <div class="navigation">
                                            {{knp_pagination_render(pagination)}}
                                        </div>
                                    </td>
                                </tr> 
                            </tbody>
                        </table><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
