<table class="table">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'u.id')}}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'u.name')}}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'u.email')}}</th>
            <th>Status</th>
            <th>Ações</th>
            <th>
                <button type="button" id="check-users" class="btn btn-info btn-xs">Marcar/Desmarcar</button>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for user in pagination  %}
            <tr>
                <td><a href="">{{ user.id }}</a></td>
                <td><a href="">{{ user.name }}</a></td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.active == 'Y' %}
                        <b style="color: green;">Ativo</b>
                    {% else %}
                        <b style="color: red;">Inativo</b>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('user_edit', {id:user.id}) }}" class="btn btn-primary btn-xs" title="">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
                <td><label class="checkbox-inline"><input type="checkbox" class="checkbox-user" name="user" value="{{ user.id }}">&nbsp;</label></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="6" style="text-align: center">
                <div class="navigation">
                    {{knp_pagination_render(pagination)}}
                </div>
            </td>
        </tr> 
    </tbody>
</table><br/>