{% extends 'template/base-menu-login.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">

    <!-- Bootstrap Toggle CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css') }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ asset('public/css/signin.css') }}">
{% endblock %}

{% block body %}
    <div class="container login">
        <div class="row">
            <h2 style="text-align: center">Login</h2><br/>
            <div class="col-md-4 col-md-offset-4">
                <div class="well">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endif %}
                    <div class="panel-body">
                        <form action="{{ path('login_check') }}" method="post" role="form" class="form-signin">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="_username" type="text" required="true"  value="{{ last_username }}">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Senha" name="_password" required="true" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                    </label>
                                </div>
                                <input class="btn btn-primary btn-block" type="submit" value="Login"><br/>
                                <a href="{{ path('register') }}">Cadastre-se</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}