{% extends 'template/base-menu-login.html.twig' %}

{% block title %}Registro{% endblock %}
{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">

    <!-- Bootstrap Toggle CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css') }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ asset('public/css/signin.css') }}">

    <!-- jQuery -->
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <h2 style="text-align: center">Registre-se</h2><br/>
            {{ form_start(form) }}
            <div class="col-sm-offset-4 col-sm-4">
                <div class="well">
                    <div class="form-group">
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Criar</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script>
        $(function () {
            $('#sysadminbundle_user_name').on('keyup', function () {
                $(this).val($(this).val().replace(/[0-9]+/g, ''))
            });
        });
    </script>
{% endblock %}

